:host {
  --c-brand-orange-200: #f15d22;
  --ff-body: 'Proxima Nova', 'Helvetica', 'Arial', 'sans-serif';
  --c-neutral-gray-100: #f9fcfe;
  --c-neutral-gray-600: #435563;
  --c-neutral-white: #ffffff;
  --c-neutral-slate: #dbdee0;
  --c-pistachio-mild: #e9f3ea;
  --fw-bold: 700;

  --pager-item-padding: 10px;
  --pager-item-width: 30px;
  --pager-item-font-size: 1rem;
  --pager-item-color: var(--c-brand-orange-200);

  display: block;
}

.visually-hidden,
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  white-space: nowrap;
  clip-path: polygon(0 0, 0 0, 0 0);
}

.pager {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  gap: 0.5rem;
  font-family: var(--ff-body);
  list-style: none;
}

.pager-button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: var(--pager-item-width);
  padding: var(--pager-item-padding) 0;
  border: 1px solid var(--c-brand-orange-200);
  border-radius: 5px;
  outline: none;
  background: var(--c-neutral-gray-100);
  color: var(--c-brand-orange-200);
  font-weight: bold;
  font-size: var(--pager-item-font-size);
  cursor: pointer;
}

.pager-button:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: 2px;
}

.pager-button:hover,
.pager-button.active {
  border-color: var(--c-brand-orange-200);
  background: var(--c-brand-orange-200);
  color: var(--c-neutral-white);
  font-weight: var(--fw-bold);
}

.pager-button:disabled {
  cursor: revert;
}

.pager-ellipsis {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  padding: 0 4px;
  border: transparent;
  color: var(--c-neutral-gray-600);
  font-weight: bold;
}

/* High contrast mode support */
@media (forced-colors: active) {
  .pager-button {
    border: 2px solid ButtonText;
  }
  .pager-button:focus {
    outline: 2px solid ButtonText;
  }
  .pager-button.active {
    border-width: 2px;
  }
}
